POSTGRES_DB=turnos_db
POSTGRES_USER=turnos_user
POSTGRES_PASSWORD="Contraseña de la base de datos"
DB_PORT=5434

DB_URL=jdbc:postgresql://127.0.0.1:5434/turnos_db
DB_USERNAME=turnos_user
DB_PASSWORD="Contraseña de la base de datos"